/*   
  *{
    border-radius: 1px;
    border: thin solid red;
    border-color: red;
  } */




  #nav-links {
    display: none;
    width: auto 20% 20% auto;
    background-color: lightgray;
    
  }

  #nav-links li{
    margin:15px;
    
    /* border-bottom: 1px solid gray; */
    padding:10px;
  }

  #nav-links li a{
    font-size:large;
  }


  #nav-links {
    display: none;
  }

body {

    font-family: Gideon Roman, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    font-family: 'Martian Mono', serif;
    font-size: 24px;
}

nav {
    background-color: lightgray;
    display: flex;

    padding: 0.5em;

}

 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li {
    margin: 0 1em;
    padding: 8px;
 
}

a {

    color: black;
    text-decoration: none;
 
}


nav a:hover {
    color: white;
}




#abstainBanner {
    padding: 0.0em;

}

#logo {
    width: 60%;
    margin: auto;
    height: auto;
}

caveat{
    font-size: x-small;
}
#hamburger-menu-button {
    display: none;
}



@media (max-width: 800px) {
    body {
        font-size: 12px;
    }

    h1{
        font-size: 1.6em;
    }
    caveat{
        font-size: xx-small;
    }
    iframe{
        width:100%;
        height: auto;
        /* height:250px; */
    }
    #abstainCharm{ height:120px
     }

     #logo {
        width: 50%;
        margin: auto;
        height: auto;
    }

    /* Hide the nav links by default */

  
  /* Style the hamburger button */
  #hamburger-menu-button {
    display:block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  nav ul {
    display:none;
  }
  



}



@media (min-width: 801px) {

    #nav-links{
        display: none;
    }

}